<div id="<{$Think.CONTROLLER_NAME}>_dg"></div>
<style>
.datagrid-cell a img{
    max-width:20px;max-height:20px;vertical-align:middle;
}
</style>
<script>
    var width = 700;
    var height = 660;
    $("#<{$Think.CONTROLLER_NAME}>_dg").datagrid({
        title:'会员管理',
        nowrap: false,
        striped: true,
        url:"<if condition='$god eq 1'><{:U('__URL__/take/god/1')}><else /><{:U('__URL__/take')}></if>",
        remoteSort: false,
        idField:'id',
        pagination:true,
        rownumbers:true,
        singleSelect:true,
        fitColumns:true,
        toolbar:[
            {
                text:'增加',
                iconCls:'icon-add',
                handler:function(){
                    $("#easyui_window").mWindow({
                        title:"增加会员",
                        href:"<{:U('__URL__/add')}>",
                        height:height,
                        width:width
                    });
                }
            },
            {
                text:'删除',
                iconCls:'icon-remove',
                handler:function(){
                    var selected=$("#<{$Think.CONTROLLER_NAME}>_dg").datagrid("getSelected");
                    if(selected){
                        $.messager.confirm('系统提示', '你确定要删除['+selected.name+']此会员'+'?', function(r){
                            if(r){
                                $.get("<{:U('__URL__/del/id/"+selected.member_id+"')}>",function(result){
                                    $.messager.alert('信息提示',result.info);
                                    if(result.status == 1) $("#<{$Think.CONTROLLER_NAME}>_dg").datagrid("load");
                                });
                            }
                        });
                    }else{
                        $.messager.alert('信息提示','请选择会员','error');
                    }
                }
            },
            {
                text:'编辑',
                iconCls:'icon-edit',
                handler:function(){
                    var selected=$("#<{$Think.CONTROLLER_NAME}>_dg").datagrid("getSelected");
                    if(selected){
                        $("#easyui_window").mWindow({
                            title:"编辑用户",
                            href:"<{:U('__URL__/edit/member_id/"+selected.member_id+"')}>",
                            height:height,
                            width:width
                        })
                    }else{
                        $.messager.alert('信息提示','请选择用户','error');
                    }
                }
            },
            {
                text:'相册',
                iconCls:'icon-photo',
                handler:function(){
                    var selected=$("#<{$Think.CONTROLLER_NAME}>_dg").datagrid("getSelected");
                    if(selected){
                        $("#easyui_window").mWindow({
                            title:"["+selected.name+"]的相册管理",
                            href:"<{:U('__MODULE__/Image/index/member_id/"+selected.member_id+"/type/photo')}>",
                            maximized:true
                        })
                    }else{
                        $.messager.alert('信息提示','请选择用户','error');
                    }
                }
            },
            {
                text:'申请游神',
                iconCls:'icon-god',
                handler:function(){
                    var selected=$("#<{$Think.CONTROLLER_NAME}>_dg").datagrid("getSelected");
                    if(selected){
                        $.messager.confirm('系统提示', '你确定要['+selected.name+']此会员申请游神'+'?', function(r){
                            if(r){
                                $.get("<{:U('__URL__/applyGod/id/"+selected.member_id+"')}>",function(result){
                                    $.messager.alert('信息提示',result.info);
                                    if(result.status == 1) $("#<{$Think.CONTROLLER_NAME}>_dg").datagrid("load");
                                });
                            }
                        });
                    }else{
                        $.messager.alert('信息提示','请选择会员','error');
                    }
                }
            }
        ],
        columns:[[
		        {field:'id',title:'编号',width:20,align:'center'},
                {field:'name',title:'姓名',width:80,align:'center'},
                {field:'age',title:'年龄',width:120,align:'center'},
                {field:'sex',title:'性别',width:20,align:'center'},
                {field:'signature',title:'个人签名',width:100,align:'center'},
                {field:'homeplace',title:'家乡',width:100,align:'center'},
                {field:'city',title:'所在城市',width:100,align:'center'},
                {field:'picture',title:'头像',width:30,align:'center',formatter:function(value, row, index) {
                    var str = value ? '<a href="'+value+'" target="_blank"><img src="'+value+'" /></a>' : "";
                    return str;
                }},
                {field:'is_god',title:'游神',width:30,align:'center',formatter:function(value, row, index) {
                    return value == 1 ? "是" : "否";
                }},
                {field:'create_time',title:'创建时间',width:80,align:'center',formatter:function(value, row, index){
                    return '<font title="'+$.mTime.UnixToDate(value,true)+'">'+$.mTime.UnixToDate(value)+'</font>';
                }},
                {field:'update_time',title:'更新时间',width:80,align:'center',formatter:function(value, row, index){
                    return '<font title="'+$.mTime.UnixToDate(value,true)+'">'+$.mTime.UnixToDate(value)+'</font>';
                }},
                {field:'status',title:'状态',width:50,align:'center',formatter:function(value, row, index) {
                    return makeDgCheckBox({url:'<{:U("/__URL__/edit_value")}>',value:value});
                }}
            ]]
    });
</script>