<!DOCTYPE HTML>
<html>
<head lang="zh">
  <title>后台管理系统</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="__PUBLIC__/images/preview_f2.png">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/jquery-easyui-1.4.1/themes/default/easyui.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/js/jquery-easyui-1.4.1/themes/icon.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
</head>
<body class="easyui-layout">
<script src='__PUBLIC__/js/jquery-easyui-1.4.1/jquery.min.js'></script>
<script src='__PUBLIC__/js/jquery-easyui-1.4.1/jquery.easyui.min.js'></script>
<script src='__PUBLIC__/js/jquery-easyui-1.4.1/locale/easyui-lang-zh_CN.js'></script>
<script src='__PUBLIC__/js/jquery.form.min.js'></script>